{# header.twig #}
<header class="bg-primary text-white py-3">
    <div class="container d-flex justify-content-between">
        <h1>Mini CRM</h1>
            <nav class="navbar navbar-dark bg-dark p-3">
                <a href="index.php?page=dashboard" class="text-white me-3">Dashboard</a>
                <a href="index.php?page=clients" class="text-white me-3">Klienci</a>
                <a href="index.php?page=tasks" class="text-white me-3">Zadania</a>
                <a href="index.php?page=reports" class="text-white me-3">Raporty</a>
                <a href="public/logout.php" class="btn btn-light">Wyloguj</a>
            </nav>
    </div>
</header>
